@{
    ViewData["Title"] = "Barber Home";
}


    <div class="container mt-5">
        <div class="m-auto w-75">

        <Button visible="true" class="btn btn-success mb-3" id="AddShopPanelToggleOn"  OnClick="AddShopPanelToggleOn_Click()" Text="Add new Shop" >Add new Shop</Button>
        </div>
         
        
        <section ID="addNewShopPanel" style="display: None;" >
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-12 col-xl-11">
                        <div class="card text-black" style="border-radius: 25px;">
                            <div class="card-body p-md-5">
                                <Button visible="false" class="btn btn-danger px-3" ID="AddShopPanelToggleOff"  OnClick="AddShopPanelToggleOff_Click()"  >X</Button>
                                <div class="row justify-content-center">
                                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Add New Shop</p>

                                        <div class="mx-1 mx-md-4">

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="name" class="form-control"  />
                                                    <label class="form-label" for="name">Shop Name</label>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="email" id="email" class="form-control"  />
                                                    <label class="form-label" for="email">Shop Email</label>
                                                </div>
                                            </div>


                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="number" id="phone" class="form-control"  />
                                                    <label class="form-label" for="phone" >Phone Number</label>
                                                </div>
                                            </div>
                                            
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-map-pin fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <textarea type="text" id="address" class="form-control" ></textarea>
                                                    <label class="form-label" for="phone" >Shop Address</label>
                                                </div>
                                            </div> 
                                            <div class="row">

                                                <div class="col">

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-city fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="city" class="form-control"  />
                                                    <label class="form-label" for="city" >City</label>
                                                </div>
                                            </div>
                                                </div>
                                                                                            <div class="col">

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="state" class="form-control"  />
                                                    <label class="form-label" for="state">State</label>
                                                </div>
                                            </div>
                                                                                                </div>

                                            </div>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-globe fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="country" class="form-control"  />
                                                    <label class="form-label" for="country">Country</label>
                                                </div>
                                            </div>
                                            
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-location-pin fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="pincode" class="form-control"  />
                                                    <label class="form-label" for="pincode">Pincode</label>
                                                </div>
                                            </div>
                                            
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-clock fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="opentime" class="form-control" placeholder="eg: 10:00 AM-9:00PM"  />
                                                    <label class="form-label" for="opentime">Open Time</label>
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                <Button class="btn btn-dark btn-lg" ID="AddShop" type="text"   Text="Add Shop">Add Shop</Button>
                                            </div>

                                       

                                    </div>
                                    
                                </div>
                            </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
   
       
        
        <div class="m-auto text-center">
        <h3 class="w-50 m-auto" >Currently Listed Shops</h3>
        </div>
        <div class="d-flex">
        <span class="m-auto mt-2 h5 text-danger" ID="message" ></span>
        </div>
        <div class="list-group">
            @foreach(ShopModel item in Model){
        
                <span class="list-group-item list-group-item-action mb-3 w-75 m-auto mt-5 mb-3">

                    <div class="align-items-center d-flex">
                        <p class="float-start h3">
                            @item.Name
                        </p>
                    </div>
                    <div class="align-items-center d-flex">
                        <p class="opacity-75">
                            @item.City
                        </p>    
                    </div>
                    <a asp-controller="Barber" asp-action="ShopDetails" asp-itemid="@item.Shopid" class="btn btn-dark float-end align-items-center" >Shop Details</a>
                </span>
            }
        </div>
    </div>

<script>
    
    function AddShopPanelToggleOn_Click(){
        var addNewShopPanel = document.getElementById("addNewShopPanel");
        addNewShopPanel.style.display = "Block";
        document.getElementById("AddShopPanelToggleOn").style.display = "None"
        
    }

    function AddShopPanelToggleOff_Click(){
        var addNewShopPanel = document.getElementById("addNewShopPanel");
        addNewShopPanel.style.display = "None";
        document.getElementById("AddShopPanelToggleOn").style.display = "Block"
        
    }

</script>


