@{
    ViewData["Title"] = "MyBookings";
}

<div>
       <div class="list-group">
        
        <asp:Panel ID="MyBookingsPanel" runat="server">
        
        </asp:Panel>
           </div>

</div>